@import url("/CSS/design-system.css");

:root{
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

body {
    margin: 0%;
    background-color: var(--color-bg);
    object-fit: cover;
}

p {
    margin: 0%;
}

blockquote {
    text-indent: -0.4em;
    margin: 2rem 0;
    color: var(--gray);

    @supports (hanging-punctuation: first) {
        blockquote {
            text-indent: 0;
            hanging-punctuation: first;
            margin: 2rem 0;
            color: var(--gray);
        }
    }
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    all: unset;
    background-color: transparent;
    cursor: pointer;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;

    border-radius: 4px;
}

button:hover {
    background-color: #EEEEEE;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--body-secondary-font-family);
    font-size: var(--font-size-body-s);
    line-height: var(--lh-body-xs);
    color: var(--color-font-secondary-body);

    &:hover {
        color: var(--light-gray);
    }
}

.body-primary-large.quote  {
    
}

.standard-section {
    padding: 3rem 8.875rem 0;
}

.standard-section.header {
    padding-top: 7.25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 2fr);
    aspect-ratio: 1 / 1;
    grid-template-areas: 
    "box-1 box-2 box-2 box-3"
    "box-4 box-5 box-6 box-7"
    "box-8 box-8 box-9 box-10"
    "box-11 box-12 box-13 box-14"
    "box-15 box-15 box-16 box-17";
    gap: .5rem;
}

.page-header {
    padding-bottom: 2rem;
}

.body-paragraph {
    font-family: var(--body-primary-font-family);
    line-height: 1.75rem;
    font-weight: bold;
    color: var(--color-font-secondary-body);
    max-width: 40rem;

    &.blog {
        color: var(--color-font-primary-body);
        font-size: 16px;
    }
}

.item {
    overflow: hidden;
    width: auto;
    height: auto;
    background-color: #FAF6EF;
    justify-items: center;
    align-items: center;

    border-radius: 4px;
}

.item.item--blog {
    cursor: alias;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 0;

    &:hover {
        background-color: #F2EEE8;
    }
}

.item.item--project {
    cursor: alias;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 0;

    &:hover {
        background-color: #F2EEE8;
    }
}

.tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;


}

.blog {
    width: 100%;
    max-width: 36rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer {
    min-height: 10rem;
}

.body-primary-medium.post {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;

    line-height: var(--lh-body-m);

}